@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: url('../img/nasaglobe.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

/*Title*/
h1 {
	color: white;
	font-family: 'Karla';
	font-size: 96px;
}

/*Subtitle*/
h2 {
	color: white;
	font-family: 'Raleway';
	font-size: 28px;
	font-weight: 300;

	margin-top: -7px;
	margin-bottom: 10px;
}

/*About Us title*/
h3 {
	color: #3a3b3d;
	font-family: 'Karla';
	font-size: 70px;
}

/*Meet the Team*/
h4 {
	color: white;
	font-family: 'Karla';
	font-size: 70px;
}

/*Get Started info*/
p {
	color: #A3A3A3;
	font-family: 'Roboto';
	font-size: 20px;
	width: 85%;
	display: inline-block;
}


h5 {
	color: #A3A3A3;
	font-family: 'Roboto';
	font-size: 14px;
}


/*Menubar Links*/
.menuLinks {
	color: white;
	font-family: 'Karla';
	font-size: 24px;
	text-decoration: none;

	padding: 10px 25px 10px 25px;
	border: 2px solid white;
	border-radius: 26px;
	margin: 3px;
}

/*Menubar hover*/
.menuLinks:hover {
	color: rgb(215, 215, 215);
	border: 2px solid rgb(215, 215, 215);
}

/*Turns a section or div into a fullscreen element*/
.fullscreen {
	height: 100%;
	margin: 0;
}

/*Allows divs to be aligned vertically*/
.center {
	/* http://howtocenterincss.com/ */
	display:flex;
	justify-content:center;
	align-items:center;
}
#about {
	border-style: solid;
	border-color: #F6F6F6;
	border-width: 25px;
	background-color: #F6F6F6;
}

#aboutInfo {
	display: inline-block;
}


/*Youtube Button styling*/
#specialLinks {
	display: inline-block;
	color: yellow;
	background-color: white;
  font-family: 'Roboto';
	margin-top: 15px
}

.btn {
	display: inline-block;
	color: white;
	font-family: 'Roboto';
	margin-top: 10px
}

.youtube{
	background-color: #a71010;
}
.youtube:hover{
	background-color: white;
	color:#a71010;
}

.linkedin{
	background-color: #0e76a8;
}
.linkedin:hover{
	background-color: white;;
	color: #0e76a8;
}



div.gallery {
	background-color: white;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 230px;
}

div.gallery:hover {
  border: 1px solid #777;
	background-color: #d6d6d6;
	color: white;
}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
	padding-top: 8px;
  text-align: center;
	color: #837d7d;
	font-family: 'Roboto';
	font-size: 18px
}

div.desc.subtext{
	font-size: 12px;
	padding-bottom: 15px
}
