{% extends "topbar.html" %}
  {% load static %}
  {% block content %}
            <!-- Begin Page Content -->
            <div class = "container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Add Location Dashboard</h1>
                    <h5>Edwin's Game | Game ID: 3r93qw9</h5>
                </div>


                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"> </h6>
                    </div>
                    <div class="card-body">
                        <div class = "row">
                            <div class = "moveRight">
                                <h3>Location Address: </h3>
                            </div>
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Enter an address... " aria-label="Search" aria-describedby="basic-addon2">
                                </div>
                            </form>
                            <div class = "col">
                                <div>
                                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Submit <i class="fas fa-edit fa-sm text-white-50"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        Map goes here...
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    {% endblock %}