{% extends "topbar.html" %}
  {% load static %}
  {% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Games Played</h1>
          </div>


          <!-- Page Heading -->
        <!--  <h1 class="h3 mb-2 text-gray-800">Games Played</h1> -->


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Game List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Game Name</th>
                      <th>Game Code</th>
                      <th>Creator</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Pokemon Game</td>
                      <td>101</td>
                      <td>Edwin</td>
                    </tr>
                    <tr>
                      <td>Uno</td>
                      <td>51</td>
                      <td>Mustafa</td>
                    </tr>
                    <tr>
                      <td>Go Fish</td>
                      <td>23</td>
                      <td>Kevin</td>
                    </tr>
                    <tr>
                      <td>Fornite</td>
                      <td>65</td>
                      <td>Sophia</td>
                    </tr>
                    <tr>
                      <td>Hello Kitty</td>
                      <td>143</td>
                      <td>Brendon</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
  {% endblock %}
