{% extends "topbar.html" %}
  {% load static %}
  {% block content %}
        <!-- Begin Page Content -->

        <div class="container-fluid">
        {% for game in game_details %}


          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Game Creation Dashboard</h1>
            <h5>{{ game.0 }} |  {{ game.1 }}</h5>

          </div>
           

          <!-- Add Location box -->
          <div class = "row">
            <!-- Basic Card Example -->
            
            <div class="col-xl-3 col-md-4">

              <!-- Add Location box -->
              <div class="mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <a href="/game/create/{{ game.1 }}/new/location"><div class="h5 mb-0 font-weight-bold text-primary">Add<br>Location</div></a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-location-arrow fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Game Settings box -->
              <div class="mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <a href="#" data-toggle="modal" data-target="#GameSettingsModal"><div class="h5 mb-0 font-weight-bold text-success">Game<br>Settings</div></a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-cog fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Game Settings Modal-->
              <div class="modal fade" id="GameSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Game Settings</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <form class="navbar-search" id="gameTitleInput" method="post" action="/game/create/{{ code }}">
                      {% csrf_token %}
                        <div class="modal-body">
                        <h6 class="text-center" id="exampleModalLabel">Change Game Name</h6>
                        <div class="input-group">
                          <input type="text" class="form-control bg-light border-0 small" name="title" placeholder="Enter New Game Name" aria-label="GameLocation" aria-describedby="basic-addon2">
                            <input name="code" type="hidden" value="">
                        </div>
                        <br>
                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Update">
                      </div>
                  
                    </form>
                    <div class="modal-footer">
                      <button class="btn btn-secondary btn-danger" type="button" data-dismiss="modal" onclick="deleteGame()">Delete Game</button>
                      <button class="btn btn-secondary btn-success" type="button" data-dismiss="modal" onclick="startGame()">Start Game</button>
                      <button class="btn btn-secondary btn-danger" type="button" data-dismiss="modal">Stop Game</button>
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Leaderboard box -->
              <div class="mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <a href="/game/leaderboard/{{ game.1 }}"><div class="h5 mb-0 font-weight-bold text-warning">View<br>Leaderboard</div></a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-trophy fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
            <div class="col-xl-9 col-md-8">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div>
                    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                          crossorigin=""/>
                    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                            crossorigin="">
                    </script>
                    <style>
                      #mapid{
                        height: 70vh;
                      }
                    </style>
                    <div id = "mapid">
                    </div>
                    <script>                    
                      var mymap = L.map('mapid').setView([-33.865143, 151.209900, -0.09], 13);
                      
                      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                      }).addTo(mymap);
                      
                      var arrayOfLatLngs = [];
                      
                      {% for x in lat_long %}
                      
                        var temp = [];
                        temp.push({{ x.0 }});
                        temp.push({{ x.1 }});
                        arrayOfLatLngs.push(temp);
                        var marker = L.marker([{{ x.0 }}, {{ x.1 }}]).addTo(mymap);
                        marker.bindPopup("{{ x.2 }}").openPopup();
                        
                        var bounds = new L.LatLngBounds(arrayOfLatLngs);
                        mymap.fitBounds(bounds);
                        
                      {% endfor %}
                      
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Table for locations -->
          
          <div class = "row">
            <div class = "col">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                
                  <h6 class="m-0 font-weight-bold text-primary">Game Locations</h6>
                  
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    
                    <div class="row">
                      <div class = "col-auto mr-auto">
                      <h5> Drag table rows to reorder the game locations</h5>
                      </div>
                      <div class = "col-auto">
                      <button onclick="updateLocation()" id="update_location" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Update Location Order</span>
                      </button>
                      </div>
                    </div>
                    
                    
                    
                    <table class="mt-3 table table-bordered grid" id="gameLocations" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                        <th class="index">Position Number</th>
                        <th>Location Name</th>
                        <th>Location Code</th>
                      </tr>
                      </thead>
                      <tbody>

                      {% for location in locations_code %}
                      <tr>
                        <td class="index">{{ location.0 }}</td>
                        <td><a href="/game/create/{{ code }}/{{ location.1.code }}">{{ location.1.name}}</a></td>
                        <td>{{ location.1.code}}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <!-- /.container-fluid -->
      {% endfor %}
      </div>

      <!-- End of Main Content -->
      
      <!--   https://stackoverflow.com/questions/2072848/reorder-html-table-rows-using-drag-and-drop -->
      <script type="text/javascript">
        $(window).on('load', function(){
          var fixHelperModified = function(e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function(index) {
              $(this).width($originals.eq(index).width())
            });
          return $helper;
        },
        updateIndex = function(e, ui) {
          $('td.index', ui.item.parent()).each(function (i) {
            $(this).html(i + 1);
          });
        };
        
        $("#gameLocations tbody").sortable({
          helper: fixHelperModified,
          stop: updateIndex
          }).disableSelection();
        });
        
        
        function updateLocation() {
          let size = document.getElementById("gameLocations").rows.length;
          let codes = [];
          
          for (let x = 1; x < size; x++) {
            codes.push(document.getElementById("gameLocations").rows.item(x).cells[2].innerHTML);
          }
          
//          https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
          
          document.body.innerHTML += '<form id="dynForm" method="post" action="/game/create/{{ code }}"> {% csrf_token %} <input type="hidden" value="' + codes.join(",") + '" name="location_order"></form>';
          document.getElementById("dynForm").submit();
          
        }

        function deleteGame() {
            document.body.innerHTML += '<form id="delete_game" method="post" action="/game/create/{{ code }}"> {% csrf_token %} <input type="hidden" value="{{ code }}" name="game_delete"></form>';
            document.getElementById("delete_game").submit();
        }

        function startGame() {
            document.body.innerHTML += '<form id="start_game" method="post" action="/game/create/{{ code }}"> {% csrf_token %} <input type="hidden" value="{{ code }}" name="game_start"></form>';
            document.getElementById("start_game").submit();
        }
      </script>
  {% endblock %}
      