{% extends "topbar.html" %}
  {% load static %}
  {% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Leaderboard</h1>
            {% for game in game_details %}
            <h5>{{game.0}} | {{game.1}}</h5>
            {% endfor %}
          </div>
  

          <!-- Page Heading -->
        <!--  <h1 class="h3 mb-2 text-gray-800">Leaderboard</h1> -->


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Game Leaderboard</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Score</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for player in leaderboards %}
                  <tr>
                    <td>{{player.0}}</td>
                    <td>{{player.1}}</td>
                    <td>{{player.2}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
  {% endblock %}