{% extends "topbar.html" %}
  {% load static %}
  {% block content %}

            <!-- Begin Page Content -->
            <div class = "container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Locations Dashboard</h1>
                    <h5>superbunny_99 | User ID: u3e9qe82e</h5>
                </div>

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h8>Edwin's Game | Game ID: dj9jeq2k0</h8>
                </div>

                <div class = "row">
                    <div class = "col-lg-6 mb-4">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Location Details</h6>
                            </div>
                            <div class="card-body">
                                <div class = "row">
                                    <div class = "col">
                                        Location Name:
                                    </div>

                                    <div class = "col">
                                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control bg-light border-0 small" value="USYD - Fisher Library" aria-label="Search" aria-describedby="basic-addon2">

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <br>
                                <div class = "row">
                                    <div class = "col">
                                        Location Address:
                                    </div>
                                    <div class = "col">
                                        {{ locations_code.0.1 }}
                                    </div>
                                </div>

                                <br>

                                <div class = "row">
                                    <div class = "col">
                                        Location Code:
                                    </div>
                                    <div class = "col">
                                        {{ locations_code.0.2}}
                                    </div>
                                </div>
                                <br>

                                <div class = "row">
                                    <div class = "col">
                                        Location Order:
                                    </div>
                                    <div class = "col">
                                        {{ locations_code.0.0 }}
                                    </div>
                                </div>
                                <hr>
                                <div class = "row">
                                    <div class = "col">
                                        Location Clue:
                                    </div>

                                    <div class = "col">
                                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                            <div class="input-group">
                                                <textarea type="text" class="form-control bg-light border-0 small" rows = "4" aria-label="Search" aria-describedby="basic-addon2"> {{ locations_code.0.3 }}</textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-3">
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Delete Location <i class="fas fa-trash fa-sm text-white-50"></i></a>
                            </div>
                            <div class ="col-md-3">
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">Update Location <i class="fas fa-edit fa-sm text-white-50"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class = "col-lg-6 mb-4">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class = "row">
                                    <div class = "col">
                                        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                                              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                                              crossorigin=""/>
                                        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                                                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                                                crossorigin="">
                                        </script>
                                        <style>
                                          #mapid{
                                            height: 70vh;
                                          }
                                        </style>
                                        <div id = "mapid"></div>
                                        <script>
                                          var mymap = L.map('mapid').setView([51.505, -0.09], 13);

                                          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                                          }).addTo(mymap);

                                          var marker = L.marker([51.5, -0.09]).addTo(mymap);

                                          var circle = L.circle([51.508, -0.11], {
                                            color: 'red',
                                            fillColor: '#f03',
                                            fillOpacity: 0.5,
                                            radius: 500
                                          }).addTo(mymap);

                                          marker.bindPopup("<b>WDF is this shit</b><br>Wheres the fuckin map.").openPopup();
                                          circle.bindPopup("FUCK.");
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
  {% endblock %}