{% extends "topbar.html" %}
  {% block content %}
        <!-- Begin Page Content -->
        <div class = "container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">User Profile</h1>
                <h5>superbunny_99 | User ID: u3e9qe82e</h5>
            </div>
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">User Information</h6>
                </div>
                <div class="card-body">
                    <div class = "row">
                        <div class = "col">
                            <h5>Name: {{ user.first_name }}</h5>
                            <br>
                            <h5>Email: {{ user.email }}</h5>
                            <br>
                            <h5>Games Played: 86</h5>
                            <br>
                            <h5>Games Created: 25</h5>
                            <br>
                        </div>
                        <div class = "col">
                            <image class = "rounded-circle" src = "img/cryingcat.jpg" alt = "profile" width = 200 height = 200></image>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class = "row">
                <div class = "col-lg-6">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Username and Password</h6>
                        </div>
                        <div class="card-body">
                            <div class = "row">
                                <div class = "col">
                                    Change Username:
                                </div>
    
                                <div class = "col">
                                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Username..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-check-circle fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div class = "row">
                                <div class = "col">
                                    Re-Enter Username:
                                </div>
                                <div class = "col">
                                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Confirm..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-check-circle fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
    
                            <hr>
    
                            <div class = "row">
                                <div class = "col">
                                    Change Password:
                                </div>
                                <div class = "col">
                                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Password..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-check-circle fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div class = "row">
                                <div class = "col">
                                    Re-Enter Password:
                                </div>
                                <div class = "col">
                                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Confirm..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-check-circle fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class = "col-lg-6">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Profile Picture</h6>
                        </div>
                        <div class="card-body">
                            <div class = "row">
                                <div class = "col">
                                    Upload Profile Picture:
                                </div>
                                <div class = "col">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Select Image From Desktop <i class="fas fa-edit fa-sm text-white-50"></i></a>
                                    </div>
                                </div>
                            </div>
    
                            <hr>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Update Profile <i class="fas fa-edit fa-sm text-white-50"></i></a>
            </div>
        </div>
    
    
    
    
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  {% endblock %}